.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  text-align: left;
  color: #ffffff;
  display: flex;
  max-width: 336px;
  margin: 0;
}

@media screen and (max-width: 879px) {
  .profile__name {
    font-size: 27px;
    line-height: 1.22;
    align-self: center;
    margin: 0 auto;
    min-height: 6;
  }
}
