.popup__close-button {
  display: flex;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-image: url(../../../images/close-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: -40px;
  right: -400px;
}

@media screen and (max-width: 879px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -42px;
    right: -240px;
  }
}
